body {
    font-family: Arial, sans-serif;
    padding-top: 40px;
}

#puzzle table {
    border: 1px solid black;
    border-collapse: collapse;
    empty-cells: show;
}
 
#puzzle td {
    width: 2%;
    border: 1px solid black;
    text-align: center;
}
 
#puzzle td.black {
    background: black;
}
 
#puzzle td .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
 
#puzzle td .number {
    font-size: 12px;
    top: 0;
    position: absolute;
    pointer-events: none;
    text-align: left;
    color: #666;
}
 
#puzzle span.answer {
    font-weight: bold;
    font-size: 18px;
     
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
 
#puzzle input.answer {
    font-weight: bold;
    font-family: Arial,sans-serif;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    text-transform:uppercase;
    background: none;
}
 
#puzzle input.answer:focus {
    background: Cyan;
    outline: 1px solid Cyan;
    outline-offset: 0;
}
 
#puzzle input.right {
    background: paleGreen;
}
 
#puzzle input.wrong {
    background: salmon;
}

#puzzle td.hilite {
	background: lightCyan;
}

#clues li {
	cursor: pointer;
}

#clues li.active {
	background: lightYellow;
}

.current-clue .direction i {
	vertical-align: baseline;
}


