body {
    font-family: Arial, sans-serif;
    padding-top: 40px;
}

header .avatar {
	display: inline-block;
	vertical-align: text-top;
	margin-top: -2px;
	margin-right: 5px;
}

.puzzle-view {
	
	padding-top: 80px;
		
}

#puzzle {
    background: #333;
}

#puzzle table {
    border: 1px solid black;
    border-collapse: collapse;
    empty-cells: show;
    
    margin: 0 auto;
    
    background: white;
}
 
#puzzle td {
    border: 1px solid black;
    text-align: center;
}
 
#puzzle td.black {
    background: black;
}
 
#puzzle td .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
 
#puzzle td .number {
    font-size: 12px;
    top: 0;
    position: absolute;
    pointer-events: none;
    text-align: left;
    color: #666;
}
 
#puzzle span.answer {
    font-weight: bold;
    font-size: 18px;
     
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}
 
#puzzle input.answer {
    font-weight: bold;
    font-family: Arial,sans-serif;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
    text-transform:uppercase;
    background: none;
}
 
#puzzle input.answer:focus {
    background: Cyan;
    outline: 1px solid Cyan;
    outline-offset: 0;
}
 
#puzzle input.right {
    background: paleGreen;
}
 
#puzzle input.wrong {
    background: salmon;
}

#puzzle td.hilite {
	background: lightCyan;
}

#clues li {
	cursor: pointer;
}

#clues li.active {
	background: lightYellow;
}

#clues {
    
}

.current-clue {
        
}

.current-clue .direction i {
	vertical-align: baseline;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.subnav.navbar .navbar-text {
	color: #333333;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

.subnav .btn-toolbar {
    margin: 0;
}

.subnav + .row-fluid {
    margin-top: -3px;
}

